# Logging
LOG_LEVEL=DEBUG
LOG_FORMAT="[%(asctime)s] #%(levelname)-8s %(filename)s:%(lineno)d - %(name)s - %(message)s"

# BOT
BOT_TOKEN='ewfweewgfrwt45t54340M'

# API_Key_WB
HeaderApiToken="eyJhbGciOiJFUzI1NiIsImtpZCI6IjIwMjUwNTIwdjEiLCJ0eXAiOiJKV1QifQ.eyJlbnQiOjEsImV4cCI6MTc2OTk3ODg2NywiaWQiOiIwMTk4NmYxZC05Nzg2LTdlZTgtOTE3NC0wZDBkZDE0MGZkZTciLCJpaWQiOjU0NjM4OTgzLCJvaWQiOjE5NjA5NCwicyI6MTA2OCwic2lkIjoiNjk1ZjQxYjktYTUyMC00Y2IxLWI2YWItNWU1ZTY2MzhjYWIyIiwidCI6ZmFsc2UsInVpZCI6NTQ2Mzg5ODN9.7L7fdAe36UhZk-jW66paNk6cOl6sTC_o9MAuiPW43Cr7QWgGc"